In [1]:
import time

In [2]:
start_time = time.time()

import pandas as pd

In [3]:
import xml.etree.ElementTree as ET

reviews = pd.read_xml('C:/Users/apadelopoulou/Documents/GitHub/data-mingler-optimizations/src/main/resources/data/faker_reviews_xml.xml')
#reviews

In [4]:
reviews['review'] = reviews['review'].apply(lambda x: len(x))

In [5]:
reviews

           index  review
0              0      99
1              1     136
2              2     142
3              3      80
4              4     146
...          ...     ...
3925250  3925250      87
3925251  3925251     130
3925252  3925252      75
3925253  3925253     113
3925254  3925254      76

[3925255 rows x 2 columns]

In [6]:
reviews.to_csv('temp_query_output2.csv')

In [7]:
elapsed_time = time.time() - start_time

elapsed_time

print("Elapsed time: {: .2f} seconds".format(elapsed_time))

Elapsed time:  779.92 seconds